<span style="font-size: 11pt; font-family: Cambria, serif; color: rgb(67, 67, 67); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:738px;height:321px;"><img src="https://lh3.googleusercontent.com/cKXPIpbkgJpPOLAs1Le1Mx5Q5WwLgHHYjFQC6TURyFV-jEsx-9VYX7-7qUJ48g5cXVVHRd0Ygy8UOaihDQcmh3PBsuHd7W-QVdghizqJnZLqn4lWJEOzT3zTz5oq1wtlTrFS5WI6RUhQXM1F3jXfeye_g_o2dn0mTigp02WOslHmMeYGIwRDZrzbtuch" width="738" height="321" style="margin-left:0px;margin-top:0px;"></span></span>

<span style="font-size: 14px;">1)Criar um banco de dados chamado “AutoPecas”</span>

In [13]:
CREATE DATABASE AutoPecas;

: Msg 1801, Level 16, State 3, Line 1
O banco de dados 'AutoPecas' já existe. Escolha um nome de banco de dados diferente.

<span style="font-size: 14px;">2) Criar um esquema chamado “Cadastro”</span>

In [5]:
CREATE SCHEMA Cadastro;

<span style="font-size: 14px;">3) Criar um esquema chamado “Automotivo”</span>

In [6]:
CREATE SCHEMA Automotivo

<span style="font-size: 14px;">4) Criar a tabela de “Pessoas” dentro do Schema “Cadastro”</span>

In [14]:
CREATE TABLE Cadastro.Pessoas
(

    IdPessoa int not null,
    Nome VARCHAR(50),
    CONSTRAINT PK_CadastroPessoas PRIMARY KEY(IdPessoa)
)

: Msg 2714, Level 16, State 6, Line 1
Já existe um objeto com nome 'Pessoas' no banco de dados.

5) Criar a tabela de “Telefones” dentro do Schema “Cadastro” e criar  a relação “FK\_Pessoas\_Possuem\_Telefones” de Pessoas com Telefones

In [9]:
CREATE TABLE Cadastro.Telefones
(

    IdTelefone int not null,
    IdPessoa int not null,
    Telefone VARCHAR(20),
    CONSTRAINT PK_CadastroTelefones PRIMARY KEY(IdTelefone),
    CONSTRAINT FK_Pessoas_Possuem_Telefones FOREIGN KEY(IdPessoa) REFERENCES Cadastro.Pessoas(IdPessoa)
)

<span style="font-size: 14px;">6) Criar a tabela de “Enderecos” dentro do Schema “Cadastro” e criar&nbsp; a relação “FK_Pessoas_Possuem_Enderecos” de Pessoas com Enderecos</span>

In [10]:

CREATE TABLE Cadastro.Enderecos
(
  IdEndereco  int not null ,
  IdPessoa int not null,
  Numero varchar(50) ,
  Local varchar(50),
  CEP varchar(10),
  Bairro VARCHAR(100),
  Cidade VARCHAR(50),
  CONSTRAINT PK_CadastroEnderecos PRIMARY KEY(IdEndereco) ,
  CONSTRAINT FK_Pessoas_Possuem_Enderecos FOREIGN KEY(IdPessoa) REFERENCES Cadastro.Pessoas(IdPessoa)


)

<span style="font-size: 14px;">7)Criar a tabela de “Clientes” dentro do Schema “Cadastro” e criar&nbsp; a relação “FK_Cliente_e_Pessoa” de “Clientes”&nbsp; com “Pessoas”</span>

In [11]:
CREATE table Cadastro.Clientes
(
  IdCliente int not null,
  IdPessoa int not null,
  Codigo  int ,
  CONSTRAINT PK_CadastroClientes PRIMARY KEY(IdCliente),
  CONSTRAINT  FK_Cliente_e_Pessoa FOREIGN KEY(IdPessoa)  REFERENCES Cadastro.Pessoas(IdPessoa)

)

<span style="font-size: 14px;">8)Criar a tabela de “Funcionarios” dentro do Schema “Cadastro” e criar&nbsp; a relação “FK_</span>Funcionarios<span style="font-size: 14px;">_e_Pessoa” de “Clientes”&nbsp; com “Pessoas”</span>

In [12]:
CREATE table Cadastro.Funcionarios
(
  IdFuncionario int not null,
  IdPessoa int not null,
  IdCategoria TINYINT not null ,
  Codigo int ,
   CONSTRAINT PK_CadastroFuncionarios PRIMARY Key(IdFuncionario),
   CONSTRAINT FK_Funcionario_e_Pessoa FOREIGN Key(IdPessoa) REFERENCES Cadastro.Pessoas(IdPessoa)


)

9)Criar a tabela de “Categorias” dentro do Schema “Cadastro” e criar  a relação “FK_Funcionarios_possuem_Categorias” de “Categorias”  com “Funcionarios”

In [ ]:
CREATE table

<span style="font-size: 14px;">15)Adicionar a Coluna “DataNascimento” do tipo “Date”&nbsp; na tabela de Pessoas</span>

In [15]:
Alter table Cadastro.Pessoas Add  DataNascimento Date;

In [17]:
Insert into  Cadastro.Pessoas(IdPessoa,Nome,DataNascimento)
Values(1, 'Luizinho','2010-01-01')

In [31]:
--Criaçao da funçao calcular idade 6 pontos
CREATE FUNCTION CalculoIdade( @variavel DATE)
returns int
as
begin
 declare @idade int;
 --select @idade = datediff(YY,@variavel,GETDATE())
 Set @idade =right(cast(@variavel as int),4)-right(cast(getdate()as int),4)

return @idade
end

: Msg 529, Level 16, State 2, Procedure CalculoIdade, Line 8
Não é permitida a conversão explícita do tipo de dados date em int.

In [42]:
DECLARE @variavel DATE = '1950-12-12'

SELECT    year(Getdate()) - year(@variavel)

Select  Datediff(day,@variavel,Getdate())

(No column name)
72

(No column name)
26256